<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/nprogress.css"/>
    <title>Deck.io - 注册</title>
</head>
<body>
<header>
    <div class="brand">Deck.<span class="brand-hightlight">io</span></div>
    <a class="index-right active" href="/page/signup">Sign up</a>
    <a class="index-right" href="/page/login">Log in</a>
</header>

<div class="form-container" id="signup_form">
    <div class="form-header">
        Sign Up
    </div>
    <input type="text" class="form-style" id="username" placeholder="Username"/>
    <input type="password" class="form-style" id="password" placeholder="Password"/>
    <button class="verify-button" onclick="signup()">Signup</button>
</div>

<div class="modal" id="msg_modal">
    <div class="form-container modal-style">
        <span class="close-button" onclick="switchModal(0,'msg_modal')">X</span>
        <div id="msg_modal_text"></div>
        <div class="modal-operations">
            <button class="action-button modal-button" onclick="switchModal(0,'msg_modal')">OK</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/nprogress.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script>
    NProgress.done();
</script>
</body>
</html>